<% provide(:title, "About") %>

<section class="row">
  <div class="col-md-6 blog-package">
    <div class="blog-post">
      <h3>Created By</h3>
      <hr>
      <p>My name is Birge "Dexter" Clark, and I live in the Bay Area. I'm a 28 year old full-stack developer with a growing interest in front-end development. Currently I'm doing contract work on a large scale AngularJS application with <a href="http://www.55minutes.com/">55 Minutes</a>, but I am looking for new opportunities.</p>

      <p>Outside of work I like to spend time with family, friends and my pup. I love the outdoors and try to get out as much as possible, including hiking, camping, and traveling. Tahoe is my home away from home, and I visit whenever I can.</p>
    </div>

  </div>
  <div class="col-md-6 blog-package">
    <div class="blog-post">
      <h3>Interested In</h3>
      <hr>
      <p>I've been doing JavaScript and AngularJS almost exclusively for the last year and I still love it. I've been also keeping an eye on EmberJS and am interested in getting an opportunity to work with it. For the back-end I always choose Ruby on Rails. I've done some PHP and scratched the surface of Python + Django but always come back to RoR. With that said I really want to dive into NodeJS project because over the last year JavaScript has won me over.</p>

      <p>As far as build tools go I am partial to NPM, Bower, and Gulp.</p>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-md-12 blog-package">
    <div class="blog-post">
      <p>Hosted by <a href="http://heroku.com">Heroku</a>, powered by <a href="http://rubyonrails.org/">Ruby on Rails 4.2</a> with a <a href="http://www.postgresql.org/">PostgreSQL</a> database.</p>
      <p>Other tools used are <a href="http://www.sass-lang.com/">Sass</a> for CSS processing, <a href="http://getbootstrap.com/">Bootstrap</a> for a CSS framework, <a href="https://highlightjs.org/">highlightjs</a> for syntax highlighting, <a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a> for icons, and <a href="https://github.com/mislav/will_paginate">will_paginate</a> for pagination.</p>
    </div>
  </div>
</section>