@import "variables";

pre {
  padding: 0px !important;
}
.blog-package {
  margin-top: 20px;
}
.blog-post {
  .blog-main-text {
    white-space: pre-wrap;
  }
  h2 {
    margin: 0px;
  }
  background-color: white;
  padding: 15px;
}

.blog-date {
  padding: 10px;
  background-color: $red;
  margin: 0px;
}

.blog-stats {
  color: white;
  padding: 5px 15px 15px 15px;
  background-color: #3f3f3f;
}