@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";

body {
  background-color: $gray;
  font-size: 16px;
}

.gray {
  color: $gray;
}

.light-blue {
  color: $light-blue;
}

.red {
  color: $red;
}

.teal {
  color: $teal;
}

.salmon {
  color: $salmon;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.gold {
  color: $gold;
}

.tan {
  color: $tan;
}

.off-white {
  color: $off-white;
}