@import "variables";

#side-menu {
  #main-logo {
    font-size: 8vw;
    color: white;
    opacity: .9;
  }

  #main-logo:hover, #main-name:hover {
    text-decoration: none;
  }

  .active {
    background-color: #2f2f2f;
  }

  .nav {
    background-color: #3f3f3f;
    @media screen and (max-width: 991px) {
      padding: 0px;
      li {
        width: 24%;
        display: inline-block;
      }
      a {
        width: 100%;
        display: inline-block;
      }
      background-color: #3f3f3f;
    }
  }
}