@import "variables";

#side-menu {
  #main-logo {
    font-size: 8vw;
    color: white;
    opacity: .9;
  }

  #main-logo:hover, #main-name:hover {
    text-decoration: none;
  }


  .light-blue {
    color: $light-blue;
  }

  .red {
    color: $red;
  }

  .purple {
    color: $purple;
  }

  .teal {
    color: $teal;
  }

  .nav {
    background-color: #3f3f3f;
  }
}
